networks:
  backend:
    external: true

services:
  web:
    build: ghcr.io/acowa-dk/django-web:latest
    container_name: django_web
    command: gunicorn access.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    expose:
      - 8000
    env_file:
      - .env
    networks:
      - backend

  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - "8082:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./staticfiles:/app/staticfiles:ro
    depends_on:
      - web
    networks:
      - backend
